{{#if params}}
  {{#each params.fields}}
      <h2>{{__ @key}}</h2>
      <table>
          <thead>
          <tr>
              <th style="width: 30%">{{#if _col1}}{{__ _col1}}{{else}}{{__ "Field"}}{{/if}}</th>
            {{#if ../../_hasType}}<th style="width: 10%">{{__ "Type"}}</th>{{/if}}
              <th style="width: {{#if _hasType}}60%{{else}}70%{{/if}}">{{__ "Description"}}</th>
          </tr>
          </thead>
          <tbody>
          {{#each this}}
              <tr>
                  <td class="code">{{{splitFill field "." "&nbsp;&nbsp;"}}}{{#if optional}} <span class="label label-optional">{{__ "optional"}}</span>{{/if}}</td>
                {{#if ../../_hasType}}
                    <td>
                      {{{type}}}
                    </td>
                {{/if}}
                  <td>
                    {{{nl2br description}}}
                    {{#if defaultValue}}<p class="default-value">{{__ "Default value:"}} <code>{{{defaultValue}}}</code></p>{{/if}}
                    {{#if size}}<p class="type-size">{{__ "Size range:"}} <code>{{{size}}}</code></p>{{/if}}
                    {{#if allowedValues}}<p class="type-size">{{__ "Allowed values:"}}
                      {{#each allowedValues}}
                          <code>{{{this}}}</code>{{#unless @last}}, {{/unless}}
                      {{/each}}
                    </p>
                    {{/if}}
                  </td>
              </tr>
          {{/each}}
          </tbody>
      </table>
  {{/each}}

  {{#if_gt params.examples.length compare=0}}
      <ul class="nav nav-tabs nav-tabs-examples">
        {{#each params.examples}}
            <li{{#if_eq @index compare=0}} class="active"{{/if_eq}}>
                <a href="#{{../section}}-examples-{{../id}}-{{@index}}">{{title}}</a>
            </li>
        {{/each}}
      </ul>

      <div class="tab-content">
        {{#each params.examples}}
            <div class="tab-pane{{#if_eq @index compare=0}} active{{/if_eq}}" id="{{../section}}-examples-{{../id}}-{{@index}}">
                <pre class="prettyprint language-{{type}}" data-type="{{type}}"><code>{{content}}</code></pre>
            </div>
        {{/each}}
      </div>
  {{/if_gt}}

{{/if}}
