{{#each_compare_list_field article.permission compare.permission field="name"}}
  {{#if source}}
    {{#if typeSame}}
      {{source.name}}
      {{#if source.title}}
          &nbsp;<a href="#" data-toggle="popover" data-placement="right" data-html="true" data-content="{{nl2br source.description}}" title="" data-original-title="{{source.title}}"><span class="label label-info"><i class="icon icon-info-sign icon-white"></i></span></a>
          {{#unless _last}}, {{/unless}}
      {{/if}}
    {{/if}}

    {{#if typeIns}}
        <ins>{{source.name}}</ins>
        {{#if source.title}}
            &nbsp;<a href="#" data-toggle="popover" data-placement="right" data-html="true" data-content="{{nl2br source.description}}" title="" data-original-title="{{source.title}}"><span class="label label-info"><i class="icon icon-info-sign icon-white"></i></span></a>
            {{#unless _last}}, {{/unless}}
        {{/if}}
    {{/if}}

    {{#if typeDel}}
        <del>{{source.name}}</del>
        {{#if source.title}}
            &nbsp;<a href="#" data-toggle="popover" data-placement="right" data-html="true" data-content="{{nl2br source.description}}" title="" data-original-title="{{source.title}}"><span class="label label-info"><i class="icon icon-info-sign icon-white"></i></span></a>
            {{#unless _last}}, {{/unless}}
        {{/if}}
    {{/if}}
  {{else}}
    {{#if typeSame}}
      {{compare.name}}
      {{#if compare.title}}
          &nbsp;<a href="#" data-toggle="popover" data-placement="right" data-html="true" data-content="{{nl2br compare.description}}" title="" data-original-title="{{compare.title}}"><span class="label label-info"><i class="icon icon-info-sign icon-white"></i></span></a>
          {{#unless _last}}, {{/unless}}
      {{/if}}
    {{/if}}

    {{#if typeIns}}
        <ins>{{compare.name}}</ins>
        {{#if compare.title}}
            &nbsp;<a href="#" data-toggle="popover" data-placement="right" data-html="true" data-content="{{nl2br compare.description}}" title="" data-original-title="{{compare.title}}"><span class="label label-info"><i class="icon icon-info-sign icon-white"></i></span></a>
            {{#unless _last}}, {{/unless}}
        {{/if}}
    {{/if}}

    {{#if typeDel}}
        <del>{{compare.name}}</del>
        {{#if compare.title}}
            &nbsp;<a href="#" data-toggle="popover" data-placement="right" data-html="true" data-content="{{nl2br compare.description}}" title="" data-original-title="{{compare.title}}"><span class="label label-info"><i class="icon icon-info-sign icon-white"></i></span></a>
            {{#unless _last}}, {{/unless}}
        {{/if}}
    {{/if}}
  {{/if}}
{{/each_compare_list_field}}
