<article id="api-{{article.group}}-{{article.name}}-{{article.version}}" {{#if hidden}}class="hide"{{/if}} data-group="{{article.group}}" data-name="{{article.name}}" data-version="{{article.version}}">
  <h2>
    {{#if article.title}}{{article.title}}{{/if}}
    {{#if template.withCompare}}
        <div class="btn-group pull-right">
            <button class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
                <strong>{{article.version}}</strong> <span class="caret"></span>
            </button>
            <ul class="versions dropdown-menu open-left">
                <li class="disabled"><a href="#">{{__ "compare changes to:"}}</a></li>
              {{#each versions}}
                  <li class="version"><a href="#">{{this}}</a></li>
              {{/each}}
            </ul>
        </div>
    {{/if}}
  </h2>

  {{#if article.description}}
    <p>{{{nl2br article.description}}}</p>
  {{/if}}
  <form>
    <div class="form-group http-method-{{toLowerCase article.type}}">
      <div class="endpoint input-group">
        <div class="input-group-addon">{{toUpperCase article.type}}</div>
        <input type="text" class="form-control input-lg" disabled value="{{article.url}}">
      </div>
    </div>
  </form>

  {{#if article.permission}}
    <p>
      {{__ "Permission:"}}
      {{#each article.permission}}
        {{name}}
        {{#if title}}
            &nbsp;<a href="#" data-toggle="popover" data-placement="right" data-html="true" data-content="{{nl2br description}}" title="" data-original-title="{{title}}"><span class="label label-info"><span class="glyphicon glyphicon-info-sign"></span></span></a>
          {{#unless @last}}, {{/unless}}
        {{/if}}
      {{/each}}
    </p>
  {{/if}}

  {{subTemplate "article-param-block" params=article.header _hasType=_hasTypeInHeaderFields section="header"}}
  {{subTemplate "article-param-block" params=article.parameter _hasType=_hasTypeInParameterFields section="parameter"}}
  {{subTemplate "article-param-block" params=article.success _hasType=_hasTypeInSuccessFields section="success"}}
  {{subTemplate "article-param-block" params=article.error _col1="Name" _hasType=_hasTypeInErrorFields section="error"}}

  {{subTemplate "article-sample-request" article=article id=id}}

</article>
