<div class="pull-left">
  <h1>{{name}}</h1>
  {{#if description}}<h2>{{{nl2br description}}}</h2>{{/if}}
</div>
{{#if template.withCompare}}
  <div class="pull-right">
    <div class="btn-group">
      <button id="version"
              class="btn btn-default btn-large dropdown-toggle"
              data-toggle="dropdown">
        <strong>{{version}}</strong> <span class="caret"></span>
      </button>
      <ul id="versions" class="dropdown-menu open-left">
        <li><a id="compareAllWithPredecessor"
               href="#">{{__ "Compare all with predecessor"}}</a>
        </li>
        <li class="divider"></li>
        <li class="disabled"><a
                href="#">{{__ "show up to version:"}}</a></li>
        {{#each versions}}
          <li class="version"><a href="#">{{this}}</a></li>
        {{/each}}
      </ul>
    </div>
  </div>
{{/if}}
<div class="clearfix"></div>
