<section id="api-{{group}}">
  {{#each articles}}
      <div id="api-{{group}}-{{name}}" class="row">
          <div class="col-sm-6">
            {{#if_eq @index compare=0}}
                <h1>{{underscoreToSpace ../../title}}</h1>
            {{/if_eq}}
            {{#if ../description}}
                <p>{{{nl2br ../description}}}</p>
            {{/if}}
            {{{article}}}
          </div>
          <div class="col-sm-6 example">
            {{{example}}}
          </div>
      </div>
  {{/each}}
</section>
