<nav id="scrollingNav">
    <ul class="sidenav nav nav-list">
      {{#each nav}}
        {{#if title}}
          {{#if isHeader}}
            {{#if isFixed}}
                <li class="nav-fixed nav-header" data-group="{{group}}"><a href="#api-{{group}}">{{underscoreToSpace title}}</a></li>
            {{else}}
                <li class="nav-header" data-group="{{group}}"><a href="#api-{{group}}">{{underscoreToSpace title}}</a></li>
            {{/if}}
          {{else}}
              <li {{#if hidden}}class="hide" {{/if}}data-group="{{group}}" data-name="{{name}}" data-version="{{version}}">
                  <a href="#api-{{group}}-{{name}}">{{title}}</a>
              </li>
          {{/if}}
        {{/if}}
      {{/each}}
    </ul>
</nav>
